body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: dodgerblue;
  height: 100vh;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#container {
  background-color: white;
  color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
  width: 40%;
  border-radius: 4px;
}
#quote {
  width: 80%;
  font-size: 2rem;
}
#author {
  width: 90%;
  text-align: end;
  padding-right: 2%;
  font-size: 1.5rem;
}

#nextQuote {
  border: 2px solid dodgerblue;
  background-color: dodgerblue;
  color: white;
  font-size: 1.25rem;
  border-radius: 4px;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

#nextQuote:hover {
  cursor: pointer;
}

.quoteDisplay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
}

@media only screen and (max-width: 1200px) {
  #container {
    width: 60%;
  }
}

@media only screen and (max-width: 900px) {
  #container {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  #container {
    width: 80%;
    padding: 2rem 1rem;
  }
  #quote {
    font-size: 1.5rem;
  }
  #author {
    font-size: 1.25rem;
  }
  #nextQuote {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem 1rem;
  }
}
